page-contact {
  .content-md{
    background-color:#212121;
  }
  .perfilimage{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    position: relative;
    border-radius: 50%;
    height: 33,5%;
    width: 55%;
    box-shadow: 30%;
  }
  .nombreUsuario{
    font-size: 20px;
    font-style: roboto;
    color: #fafafa;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
  }
  .content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
  }

}
